<header>
    <nav>
        <a id="beacon" href="/">
            <div id="home-text"> BLOG </div>
        </a>
    </nav>

    <div class="right-sidebar">
        <a class="ext-link" href="https://instagram.com/{{instagram}}">
            <img src="/images/instagram-logo.png" alt="Instagram"/>
        </a>

        <a class="ext-link" href="https://youtube.com/@{{youtube}}">
            <img src="/images/youtube-logo.png" alt="Youtube"/>
        </a>

        <a class="ext-link" href="https://linktr.ee/{{linktree}}">
            <img src="/images/linktree-logo.png" alt="Linktree"/>
        </a>

        <a class="ext-link" href="https://tiktok.com/@{{tiktok}}">
            <img src="/images/tiktok-logo.png" alt="Tiktok"/>
        </a>

        <a class="ext-link" href="https://twitch.com/@{{twitch}}">
            <img src="/images/twitch-logo.png" alt="Twitch"/>
        </a>

        <a class="ext-link" rel="me" href="https://hachyderm.io/@vie">
          <img src="/images/mastodon-logo.svg" alt="Mastodon Profile"/>
        </a>
    <div id="theme-button">DAY</div>
    </div>
</header>
